@media (min-width: 768px) {
    .skills {
        position: relative;
        float: right;
    }
}

@media (min-width: 1200px) {
    .skills {
        position: relative;
        float: right;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .skills {
        float: right;
    }
}