<div class="container">
    <div class="row">
        <div class="skills">

            <circle-progress [percent]="90" [radius]="100" [title]="'HTML'" [titleColor]="'#3111D4'" [titleFontSize]="'2rem'" [showUnits]="false" [showSubtitle]="false" [showTitle]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#D6D5CC'"
                [innerStrokeColor]="'#0C3E3F'" [animation]="true" [animationDuration]="300"></circle-progress>


            <circle-progress [percent]="90" [radius]="100" [title]="'CSS'" [titleColor]="'#0000ff'" [titleFontSize]="'2rem'" [showUnits]="false" [showSubtitle]="false" [showTitle]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#F5AC8D'"
                [innerStrokeColor]="'#0C3E3F'" [animation]="true" [animationDuration]="300"></circle-progress>


            <circle-progress [percent]="65" [radius]="100" [title]="'JS'" [titleColor]="'#24B995'" [titleFontSize]="'2rem'" [showUnits]="false" [showSubtitle]="false" [showTitle]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#7ABD7E'"
                [innerStrokeColor]="'#0C3E3F'" [animation]="true" [animationDuration]="300"></circle-progress>


            <circle-progress [percent]="79" [radius]="100" [title]="'Angular'" [titleColor]="'#972BBD'" [titleFontSize]="'2rem'" [showUnits]="false" [showSubtitle]="false" [showTitle]="true" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#668665'"
                [innerStrokeColor]="'#0C3E3F'" [animation]="true" [animationDuration]="300"></circle-progress>

        </div>
    </div>
</div>