<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <img src="../../../assets/APLogo.png" alt="" id="logoap">
                    <img src="../../../assets/LogosInti.png" alt="" id="logointi">
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form [formGroup]="form" style="width: 23rem;">

                        <h3 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">LOG IN</h3>

                        <div class="form-outline mb-4">
                            <input type="email" formControlName="email" id="form2Example18" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example18">Email </label>
                            <div ngIf="Email?errors && Email?.touched">
                                <p ngIf="Email?hasError('required')" class="text-danger">El Email es requerido</p>
                                <p ngIf="Email?hasError('email')" class="text-danger">El formato del Email debe ser valido</p>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" formControlName="password" id="form2Example28" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example28">Password</label>
                            <div ngIf="Password?errors && Email?.touched">
                                <p ngIf="Password?hasError('required')" class="text-danger">El Password es requerido</p>
                                <p ngIf="Password?hasError('Password')" class="text-danger">Password debe ser de 8 o más caracteres</p>
                            </div>
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-info btn-lg btn-block" type="button">Login</button>
                            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                            <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>
                        </div>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="../../../assets/federico-manuel-echeverri-choux-W2HjEa2kSuI-unsplash.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>