<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="../../../assets/acercade.jpg" class="img-fluid" alt="" id="fotoperfil">
        </div>
        <div class="col-sm-12 col-md-4" id="nombre">
            <p>{{persona.nombre}} {{persona.apellido}} </p>
            <p>Full Stack Junior</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <h1 class="fw-bold mb-5"> Acerca de mí</h1>
            <p class="text-muted"> </p>
        </div>
    </div>
</div>