<div class="container">
    <div class="row">
        <section class="testimonials bg-white py-5 " id="testimonials">
            <div class="container-lg py-4">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h2 class="fw-bold mb-5">testimonials</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">

                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">

                                <!--items testimonial-->
                                <div class="testi-item carousel-item active bg-white shadow-sm rounded p-4 mb-5" data-bs-interval="10000">
                                    <div class="testi-author-info d-flex aling-items-center">
                                        <img src="./img/fotoPerfil.png" alt="alguien" class="mia thumbnail rounded-circle mr-3">
                                        <div class="author ms-3">
                                            <h3 class="fs-3 mb-1">Sebastian Cabrera</h3>
                                            <p class="text-muted m-0">aca va titulo de algo</p>
                                        </div>
                                    </div>
                                    <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi unde ducimus ratione ad debitis distinctio amet. Saepe modi voluptas non molestiae deleniti consequatur ipsam iste voluptatem, rem, est repellendus.</p>
                                    <div class="rating text-primary">
                                        <!--estrellas azules-->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <!--fin testimonials items-->
                                <!--items testimonial-->
                                <div class="testi-item carousel-item bg-white shadow-sm rounded p-4 mb-5" data-bs-interval="2000">
                                    <div class="testi-author-info d-flex aling-items-center">
                                        <img src="./img/fotoPerfil.png" alt="alguien" class="mia thumbnail rounded-circle mr-3">
                                        <div class="author ms-3">
                                            <h3 class="fs-3 mb-1">Sebastian Cabrera</h3>
                                            <p class="text-muted m-0">aca va titulo de algo</p>
                                        </div>
                                    </div>
                                    <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi unde ducimus ratione ad debitis distinctio amet. Saepe modi voluptas non molestiae deleniti consequatur ipsam iste voluptatem, rem, est repellendus.</p>
                                    <div class="rating text-primary">
                                        <!--estrellas azules-->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <!--fin testimonials items-->
                                <!--items testimonial-->
                                <div class="testi-item carousel-item bg-white shadow-sm rounded p-4 mb-5">
                                    <div class="testi-author-info d-flex aling-items-center">
                                        <img src="./img/fotoPerfil.png" alt="alguien" class="mia thumbnail rounded-circle mr-3">
                                        <div class="author ms-3">
                                            <h3 class="fs-3 mb-1">Sebastian Cabrera</h3>
                                            <p class="text-muted m-0">aca va titulo de algo</p>
                                        </div>
                                    </div>
                                    <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis animi unde ducimus ratione ad debitis distinctio amet. Saepe modi voluptas non molestiae deleniti consequatur ipsam iste voluptatem, rem, est repellendus.</p>
                                    <div class="rating text-primary">
                                        <!--estrellas azules-->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <!--fin testimonials items-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>